/* Custom Styles */

::-moz-selection {
    color: #fff;
    background: #555;
}

::selection {
    color: #fff;
    background: #555;
}

a:focus, button:focus{
  outline: none;
}

a {
  text-decoration: none;
}

.intro {
    padding: 10% 25% 0% 25%;
}

.intro h1 {
  margin: 0;
  font-size: 4.5em;
  font-family: 'Oswald';
  opacity: 0;
  -webkit-transition: all 0.8s ease-in;
  -o-transition: all 0.8s ease-in;
  transition: all 0.8s ease-in;
  -moz-transition: all 0.8s ease-in;
  text-shadow: 1px 1px 1px rgba(55, 55, 55, .5);
}

.intro-visible {
  opacity: 1!important;
}

.intro h2 {
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 1.4em;
    font-weight: lighter;
    line-height: 1.6em
}

.intro-text {
    padding: 0.4em 2em;
    max-width: 32em;
}

/* Marc */
.stroke-1 {
  stroke-dasharray: 460;
  animation: write1 3.3s linear;
  animation-delay: 2s;
}

@keyframes write1 {
  0% {
    stroke-dashoffset: 460;
    stroke: #222;
  }
  35% {
    stroke-dashoffset: 0;
    stroke: #222;
  }
}

/* P - bottom line*/
.stroke-2 {
  stroke-dasharray: 37;
  animation: write2 2.5s linear;
  animation-delay: 2.5s;
  stroke: none;
}

@keyframes write2 {
  0%, 35% {
    stroke-dashoffset: 37;

  }
  45% {
    stroke-dashoffset: 0;

  }
}

/* P - top*/
.stroke-3 {
  stroke-dasharray: 200;
  animation: write3 2s linear;
  animation-delay: 2.9s;
}

@keyframes write3 {
  0%, 45% {
    stroke-dashoffset: 200;

  }
  65% {
    stroke-dashoffset: 0;

  }
}

/* osth */
.stroke-4 {
  stroke-dasharray: 190;
  animation: write4 2s linear;
  animation-delay: 3s;
}

@keyframes write4 {
  0%, 65% {
    stroke-dashoffset: 190;

  }
  90% {
    stroke-dashoffset: 0;

  }
}

.stroke-5 {
  stroke-dasharray: 45;
  animation: write5 2s linear;
  animation-delay: 3.5s;
}

@keyframes write5 {
  0%, 90% {
    stroke-dashoffset: 45;

  }
  100% {
    stroke-dashoffset: 0;

  }
}

#intro-h2 {
  opacity: 0;
  -webkit-transition: all 0.8s ease-in;
  transition: all 0.8s ease-in;
  -o-transition: all 0.8s ease-in;
  -moz-transition: all 0.8s ease-in;

}

.background-header {
    background: url('../images/abstract-design.jpg') center center no-repeat ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    position: absolute;
    width: 100%;
    z-index: -1;
}

.menu-items li a {
  color: #fff;
}

.menu-items li a:hover {
  color: #333;
}

.no-list {
  list-style-type: none;
}

.svg-container {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 35%;
  vertical-align: middle;
  overflow: hidden;
}

figure.svg-container {
  margin: 0;
}

figure.svg-container figcaption {
  position: absolute;
  bottom: 0;
  background: #fff;
  width: 100%;
}

#home-button {
    font-family: 'Oswald', sans-serif;
    color: #000;
    padding: .3em;
    font-size: 2em;
    font-weight: lighter;
    letter-spacing: -1px;
    -webkit-transition: all .5s cubic-bezier(0.8, 0.4, 0.4, 1);
    transition: all .5s cubic-bezier(0.8, 0.4, 0.4, 1);
    -o-transition: all .5s cubic-bezier(0.8, 0.4, 0.4, 1);
    -moz-transition: all .5s cubic-bezier(0.8, 0.4, 0.4, 1);
    opacity: 0;
}

#home-button:hover {
  opacity: .6!important;
}

.work-span:hover {
  text-decoration: overline;
}

.link {
	outline: none;
	text-decoration: none;
	position: relative;
	line-height: 1;
	color: #9e9ba4;
	display: inline-block;
}

.bg-img {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -9;
  opacity: .4;
}

#menu {
  position: fixed;
  right: 0;
  top: 0;
  margin: 3em;
  z-index: 1000;
}

.menu {
  width: 2em;
  height: .25em;
  margin: 15px 0;
  background: #000;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#menu:hover {
  cursor: pointer;
}

.menu::before, .menu::after {
  width: 2em;
  height: .25em;
  margin: 15px 0;
  background: #000;
  display: block;
  content:'';
  position: absolute;
  z-index: -1;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.open:not(.steps) .menu::before,
.open:not(.steps) .menu::after {
  top: 0 !important;
}

.open .menu::before {
  transform: rotate(-45deg);
  background: #fff;
}

.open .menu::after {
  transform: rotate(45deg);
  background: #fff;
}

.open .menu {
  background: transparent;
}

.menu::before {
  top: -8px;
}

.menu::after {
  top: 8px;
}

#menu:hover .menu::before {
  top: -10px;
}

#menu:hover .menu::after {
  top: 10px;
}

.overlay {
   visibility: hidden;
   background: none;
   position: fixed;
   width: 100%;
   height: 100%;
   top: 0px;
   z-index: -999;
   transition: background-color 0.5s ease-in;
}

.active-overlay {
  visibility: visible;
  z-index: 999;
  opacity: 0.96;
  transition: background-color 0.5s ease-in;
}

.menu-items {
  color: #fff;
  visibility: hidden;
  opacity: 0;
  position: fixed;
  width: 100%;
  text-align: center;
  font-size: 6em;
  -moz-transform: perspective(600px) rotateX(0deg);
  -webkit-transform: perspective(600px) rotateX(0deg);
  transform: perspective(600px) rotateX(0deg);
  padding: 0;
  font-family: 'Oswald', sans-serif;
}

.menu-items li:hover {
  opacity: 1;
  background-color: #fff;
  color: #000;
  transition: all .4s ease-in;
}

.active-overlay .menu-items {
  visibility: visible;
  opacity: 1;

}

.home-button-opacity {
  opacity: 1!important;
}

.nav-button {
  font-family: 'Oswald', sans-serif;
  font-size: 1.5em;
   font-weight: lighter;
  text-shadow: .5px .2px 0px rgba(55, 55, 55, .4);
}

.name-title-text-shadow-class {
  color: #333!important;
  background-color: #fff;
}

#signature {
    min-width: 300px;
}

#sticky-header {
  -webkit-transition: background-color 1s, height 3s, box-shadow 1s;
  transition: background-color 1s, height 3s, box-shadow 1s;
}

#filters {
  transition: all 0.1s ease-in;
}

.sideFixed {
  position: fixed;
  top: 45%;
  z-index: 999;
}

.sticky-header {
  position: fixed;
  background-color: #fff;
  border-bottom: 1px solid rgba(55, 55, 55, .3);
  box-shadow: 2px 1px 12px rgba(55, 55, 55, .3);
}

.name-title-sticky {
  margin: 0.5em 2em!important;
  color: #222!important;
  text-shadow: 1px 1px 1px rgba(55, 55, 55, .2)!important;
}

.desktop-menu-sticky {
  margin: 1.3em 0!important;
}

.desktop-menu-a-sticky {
  color: #222!important;
  text-shadow: 1px 1px 1px rgba(55, 55, 55, .2)!important;
}

#button-menu-portfolio {
  margin-top: 2.2em;
  max-width: 95rem;
  display: inline;
  position: absolute;
}

.button-group button {
  margin-top: .5em;
  z-index: 9;
  padding: 1em;
  font-family: 'Oswald';
  text-transform: lowercase;
  background-color: rgba(255, 255, 255, .8);
  border: 1px solid rgba(55, 55, 55, .4);
  transition: all 0.3s ease-in;
  display: block;
  width: 10em;
}

.is-checked {
  color: #fff;
  background-color: #000!important;
}

.button-group button:hover {
  color: #fff;
  background-color: #000;
  box-shadow: 1px 1px 1px rgba(55, 55, 55, .8);
}

.home {
  height: 80vh;
}

.desktop-intro span {
  font-weight: lighter;
}

#name-title {
    color: #fff;
    font-weight: lighter;
    font-size: 1.8em;
    font-family: 'Oswald';
    margin: 1.6em 2em;
    font-style: normal;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    -o-transition:all .2s ease-in;
    -moz-transition: all .2s ease-in;
    display: inline-block;
    float: left;
    text-shadow: 1px 1px 1px rgba(55, 55, 55, .8);
}

#name-sub {
  display: none;
}

#menu {
  display: none;
}

.desktop-menu {
    display: inline-block;
    float: right;
    margin: 3em 0;
}

.desktop-menu li {
    float: left;
    margin: 0 2em;
    font-weight: lighter;
    font-size: 1.3em;
    letter-spacing: 1px;
    text-transform: lowercase;
    font-family: 'Oswald', sans-serif;
}

.desktop-menu a {
   color: #fff;
   text-shadow: 1px 1px 1px rgba(55, 55, 55, .8);
}

.desktop-menu a:hover {
  text-decoration: line-through;
}

@media only screen and (min-width: 40.063em) and (max-width: 64em) {

  .intro {
      padding: 20% 15% 0% 15%;
  }

  .intro h2 {
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 1.2em;
    font-weight: lighter;
  }

}

@media screen and (max-width: 40.063em){

  .intro h1 {
    font-size: 3.8em;
  }

  #button-menu-portfolio {
    margin: 0;
    position: relative;
    margin-top: 2.2em;
    display: none;
}

  .button-group button {
    display: inline;
  }

  .desktop-menu {
    display: none;
  }

  #menu {
    display: block;
  }

  .mobile-invisible {
    display: none;
  }

  html, body{
    height: 100%;
  }

  .custom-header{
    padding: 0;
  }

  .svg-container {
    display: none;
  }

  .button {
    font-size: 13px;
  }

  #home-button {
    font-family: 'Oswald', sans-serif;
    color: #000;
    padding: .5em;
    font-size: 1.5em;
    border: 3px solid #000;
    font-weight: lighter;
    -webkit-transition: all .5s cubic-bezier(0.8, 0.4, 0.4, 1);
    transition: all .5s cubic-bezier(0.8, 0.4, 0.4, 1);
    -o-transition: all .5s cubic-bezier(0.8, 0.4, 0.4, 1);
    -moz-transition: all .5s cubic-bezier(0.8, 0.4, 0.4, 1);
    opacity: 0;
  }

  #home-button:hover {
    background-color: #000;
    color: #fff;
  }

  #home-button span {
      -webkit-transition: all .5s cubic-bezier(0.8, 0.4, 0.4, 1);
      font-weight: normal;
      transition: all .3s cubic-bezier(0.8, 0.4, 0.4, 1);
      -o-transition: all .3s cubic-bezier(0.8, 0.4, 0.4, 1);
      -moz-transition: all .3s cubic-bezier(0.8, 0.4, 0.4, 1);
  }

  .intro {
    padding: 30% 15% 0% 15%;
  }

  .intro-text {
    padding: 0.4em 2em;
  }

  .intro h2 {
      font-size: 1.1em;
  }

  #name-title {
    display: none;
  }

  #name-sub {
    font-size: 2em;
    margin-bottom: 2em;
    font-family: 'Oswald';
    display: block;
    text-align: center;
    font-weight: lighter;
  }

  #menu {
    position: fixed;
    right: 0;
    top: 0;
    margin: 2.5em;
    z-index: 1000;
  }

  .menu-items {
    font-size: 3em;
    top: 2em;
  }

}
